@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pagamento de pré inscrição";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Pagamento de pré inscrição</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <label>Númedo de registo</label>

                </div>
            </div>
        </div>
    </div>
</div>