@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pré inscrição";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informação pessoal</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Nome completo</p>
                    <input placeholder="Nome completo" type="text" required/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Nacionalidade</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Provincia</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Municipio</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Data de nascimento</p>
                    <input type="date" name="name" value="" />
                </div>
                <div class="each-input">
                    <p>Sexo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Estado civil</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Tipo de documentação</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Nº da documentação</p>
                    <input placeholder="Número da documentação" type="text"/>
                </div>
                <div class="each-input">
                    <p>Data de emissão</p>
                    <input type="date"/>
                </div>
                <div class="each-input">
                    <p>Data de validade</p>
                    <input type="date"/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Telefone</p>
                    <input placeholder="Telefone" type="text" required />
                </div>
                <div class="each-input">
                    <p>E-mail</p>
                    <input placeholder="E-mail" type="text" required />
                </div>
                <div class="each-input">
                    <p>Morada</p>
                    <input placeholder="Morada" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados de filiação</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Nome do Pai</p>
                    <input placeholder="Nome do Pai" type="text" required />
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Nome da Mãe</p>
                    <input placeholder="Nome da Mãe" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do ensino médio</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Área de formação</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Curso médio</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Instituição escolar</p>
                    <input placeholder="Instituição escolar" type="text" required/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Ano de conclusão</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Média final do curso</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Classe</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do curso da candidatura</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Campus</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Faculdade</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Cursos</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Periodo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Observação</p>
                    <input placeholder="Observação" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
