@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pré inscrição";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informação pessoal</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Nome completo</strong>
                    <input placeholder="Nome completo" type="text" required/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Nacionalidade</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Provincia</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Municipio</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Data de nascimento</strong>
                    <input type="date" name="name" value="" />
                </div>
                <div class="each-input">
                    <strong>Sexo</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Estado civil</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Tipo de documentação</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Nº da documentação</strong>
                    <input placeholder="Número da documentação" type="text"/>
                </div>
                <div class="each-input">
                    <strong>Data de emissão</strong>
                    <input type="date"/>
                </div>
                <div class="each-input">
                    <strong>Data de validade</strong>
                    <input type="date"/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Telefone</strong>
                    <input placeholder="Telefone" type="text" required />
                </div>
                <div class="each-input">
                    <strong>E-mail</strong>
                    <input placeholder="E-mail" type="text" required />
                </div>
                <div class="each-input">
                    <strong>Morada</strong>
                    <input placeholder="Morada" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados de filiação</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Nome do Pai</strong>
                    <input placeholder="Nome do Pai" type="text" required />
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Nome da Mãe</strong>
                    <input placeholder="Nome da Mãe" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do ensino médio</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Área de formação</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Curso médio</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Instituição escolar</strong>
                    <input placeholder="Instituição escolar" type="text" required/>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Ano de conclusão</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Média final do curso</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Classe</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do curso da candidatura</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Campus</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Faculdade</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Cursos</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Periodo</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Observação</strong>
                    <input placeholder="Observação" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
