@page
@{
    Layout = "_layout";
    ViewData["Title"] = "Matricula";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Matricular estudante</strong>
        </div>
        <div class="form-content">
            <div class="search-content">
                <div class="each-search">
                    <input placeholder="Id do inscrito" type="text" />
                    <button type="button">Pesquisar</button>
                </div>
            </div>
            <div class="label-content">
                <div class="label-input">
                    <label>Nome completo:</label>
                    <strong>Geraldo João Nsangu</strong>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <label>Curso</label>
                    <input placeholder="Curso" type="text" value="Engenharia informática" required />
                </div>
                <div class="each-input">
                    <label>Especialidade</label>
                    <input placeholder="Especialidade" type="text" value="Programação" required />
                </div>
                <div class="each-input">
                    <label>Periodo</label>
                    <input placeholder="Periodo" type="text" value="Manhã" required />
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>