@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pagamento de pré inscrição";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do candidato</strong>
        </div>
        <div class="form-content">
            <div class="search-content">
                <div class="each-search">
                    <input placeholder="Id do inscrito" type="text"/>
                    <button type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="strong-content">
                <div class="each-strong">
                    <strong>Nome completo:</strong>
                    <strong>Geraldo João Bunga</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados de pagamento</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Método de pagamento</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Valor a pagar</strong>
                    <input placeholder="Valor a pagar" type="text" required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>