@{
    ViewData["Title"] = "Dashboard";
}

<div class="global-container">
    <div class="box-content">
        <div class="each-box">
            <strong>0</strong>
            <p>Pré inscritos</p>
        </div>
        <div class="each-box">
            <strong>0</strong>
            <p>Inscritos</p>
        </div>
        <div class="each-box">
            <strong>0</strong>
            <p>Matriculado</p>
        </div>
    </div>
</div>
