@page
@{
    Layout = "_layout";
    ViewData["Title"] = "Matricular estudante";
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do estudante</strong>
        </div>
        <div class="form-content">
            <div class="search-content">
                <div class="each-search">
                    <input placeholder="Id do inscrito" type="text" />
                    <button type="button">Pesquisar</button>
                </div>
            </div>
            <div class="strong-content">
                <div class="each-strong">
                    <strong>Nome completo:</strong>
                    <strong>Geraldo João Nsangu</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do curso do estudante</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <strong>Ano letivo</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Campus</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Faculdade</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <strong>Cursos</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Periodo</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <strong>Ano</strong>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>