@namespace PROJ_UNIVERSIDADE.Models
@{
    Layout = "_layout";
    ViewData["Title"] = "Inscrição";

    var listarCampus = ViewBag.listarCampus as List<Campus>;
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do candidato</strong>
        </div>
        <div class="form-content">
            <div class="search-content">
                <div class="each-search">
                    <input placeholder="Id do inscrito" type="text" />
                    <button type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="label-content">
                <div class="each-label">
                    <p>Nome completo:</p>
                    <strong>Geraldo João Nsangu</strong>
                </div>
            </div>
            <div class="label-content">
                <div class="each-label">
                    <p>Pagamento:</p>
                    <strong>7500kz</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do curso da candidatura</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Ano letivo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Campus</p>
                    <select>
                        <option>-- Selecionar --</option>
                        @if(listarCampus != null)
                        {
                            @foreach(var campus in listarCampus)
                            {
                                <option>@campus.Nome</option>
                            }
                        }
                    </select>
                </div>
                <div class="each-input">
                    <p>Faculdade</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Cursos</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Periodo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Ano</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>