@import url(global-style.css); 

/*@media(max-width: 960px){
    .global-container {
        padding: 10px !important;
    }
    .nav-container .nav-each .nav-button {
        display: block !important;
    }
    .main-container {
        grid-template-columns: 1fr !important;
    }
    .main-container .sidebar-content {
        position: absolute;
        left: -300px;
        transition: all .5s ease;
    }
    .main-container .sidebar-content.show{
        left: 0;
    }
}*/

@media (max-width: 620px){
    .global-container .box-content {
        grid-template-columns: 1fr !important;
    }
    .global-container .box-content .each-box{
        padding: 25px !important;
    }
    .form-container .form-content .label-content,
    .form-container .form-content .input-content {
        flex-direction: column !important;
    }
    .form-container .form-content .input-content.grid{
        display: flex !important;
        flex-direction: column;
    }
    .form-container .form-content .input-content.grid .each-input.col{
        grid-column: auto !important;
    }
    .form-container .form-content .input-content .each-input button{
        max-width: 100% !important;
    }
}