@import url(global-style.css);

.nav-container{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white-primary);
    background-color: var(--color-main-primary);
    position: relative;
}
.nav-container .nav-each{
    gap: 10px;
    display: flex;
    align-items: center;
}
.nav-container .nav-each .nav-button{
    display: none;
    padding: 10px 0;
    font-size: 17pt;
    cursor: pointer
}
.nav-container .nav-each-logo img{
    height: 45px;
    object-fit: cover;
}
.nav-container .nav-each h1{
    font-size: 17pt;
}
.nav-container .nav-each .nav-each-img{
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--border-primary);
}
.nav-container .nav-each .nav-each-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-container .nav-each .nav-each-text p{
    font-family: RM;
}
.nav-container .nav-modal{
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    padding: 10px;
    z-index: 5;
    border-radius: 5px;
    color: var(--color-white-primary);
    background-color: #5bc3a2;
}
.nav-container .nav-modal.failed{
    background-color: #d84a49;
}
.nav-container .nav-modal.show{
    display: flex;
}
.nav-container .nav-modal .nav-modal-content{
    gap: 10px;
    display: flex;
    align-items: center;
}

.main-container{
    position: relative;
    width: 100%;
    height: calc(100dvh - 60px);
    display: grid;
    grid-template-rows: 40px 1fr;
    position: fixed;
    overflow: hidden;
}
.main-container .sidebar-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main-secondary);
}
.main-container .sidebar-content .side-each{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-container .sidebar-content .side-each p{
     display: -webkit-box;
}
.main-container .sidebar-content .side-each .side-each-title{
    gap: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-white-primary);
}
.main-container .sidebar-content .side-each.active .side-each-title{
    font-family: RM;
    border-bottom: 2px solid var(--color-white-primary);
}
.main-container .sidebar-content .side-each .side-each-child{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 150px;
    padding: 10px;
    gap: 10px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--border-primary);
    background-color: var(--color-white-primary);
}
.main-container .sidebar-content .side-each:hover .side-each-child{
    display: flex;
}
.main-container .sidebar-content .side-each .side-each-child a:not(:last-child){
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);
}
.main-container .sidebar-content .side-each .side-each-child a.active {
    font-family: RM;
}
.main-container .main-content{
    height: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: var(--color-white-secondary);
}