@import url(global-style.css);

.nav-container{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-primary);
}
.nav-container .nav-each{
    gap: 10px;
    display: flex;
    align-items: center;
}
.nav-container .nav-each .nav-button{
    display: none;
    padding: 10px 0;
    font-size: 17pt;
    cursor: pointer
}
.nav-container .nav-each h1{
    font-size: 17pt;
}
.nav-container .nav-each .nav-each-img{
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--border-primary);
}
.nav-container .nav-each .nav-each-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-container .nav-each .nav-each-text p{
    font-family: RM;
}

.main-container{
    position: relative;
    width: 100%;
    height: calc(100dvh - 60px);
    display: grid;
    grid-template-rows: 40px 1fr;
    position: fixed;
    overflow: hidden;
}
.main-container .sidebar-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-primary);
    background-color: var(--color-white-primary);
}
.main-container .sidebar-content .side-each{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-container .sidebar-content .side-each p{
     display: -webkit-box;
}
.main-container .sidebar-content .side-each .side-each-title{
    height: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main-container .sidebar-content .side-each.active .side-each-title{
    font-family: RM;
    border-bottom: 2px solid var(--color-main-primary);
}
.main-container .sidebar-content .side-each .side-each-child{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 150px;
    padding: 10px;
    gap: 10px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--border-primary);
    background-color: var(--color-white-primary);
}
.main-container .sidebar-content .side-each:hover .side-each-child{
    display: flex;
}
.main-container .sidebar-content .side-each .side-each-child a:not(:last-child){
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);
}
.main-container .sidebar-content .side-each .side-each-child a.active {
    font-family: RM;
}
.main-container .main-content{
    height: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: var(--color-white-secondary);
}