.table-container{
     width: 250px;
     min-width: 100%;
     gap: 10px;
     display: flex;
     flex-direction: column;
}
.table-container .table-content{
     width: 100%;
     overflow: hidden;
     overflow-x: auto;
}
.table-container .table-content table{
     min-width: 100%;
}
.table-container .table-content table,
.table-container .table-content table thead th,
.table-container .table-content table tbody td{
     width: max-content;
     padding: 10px 5px;
     text-align: center;
     /* text-wrap: nowrap; */
     border-collapse: collapse;
     border-bottom: 1px solid var(--border-primary);
}
.table-container .table-content table thead{
     color: var(--color-white-primary);
     background-color: var(--color-main-primary);
}
.table-container .table-content table tbody tr:hover{
     cursor: pointer;
     background-color: var(--color-white-secondary);
}
.table-container .table-content table thead th.large{
     width: 400px;
}
.table-container .table-content table tbody td p{
     display: -webkit-box;
}
.table-container .table-content table tbody tr.completed td p{
     display: block;
}
.table-container .table-content table tbody td button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}