@namespace PROJ_UNIVERSIDADE.Models
@model ConsultaComIdentificacao
@{
    Layout = "_layout";
    ViewData["Title"] = "Matricular estudante";

    var preInscrito = (PreInscrito)ViewBag.preInscrito;
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do candidato</strong>
        </div>
        <form asp-controller="Inscricao" asp-action="Index" class="form-content">
            <div class="input-content grid">
                <div class="each-input">
                    <p>Selecionar por</p>
                    <select asp-for="Tipo">
                        <option value="-1">-- Selecionar --</option>
                        <option value="0">Número da candidatura</option>
                        <option value="1">Nome completo</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Nome completo</p>
                    <input asp-for="Identificacao" required type="text" placeholder="Nome completo" />
                </div>
                <div class="each-input extra">
                    <p style="opacity: 0">Pesquisar</p>
                    <button style="max-width: none" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
        @if (preInscrito != null)
        {
            <div class="form-content">
                <div class="label-content">
                    <div class="each-label">
                        <p>Númeero da candidatura:</p>
                        <strong>@preInscrito.CandidaturaID</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Nome completo:</p>
                        <strong>@preInscrito.NomeCompleto</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Telefone:</p>
                        <strong>@preInscrito.Telefone</strong>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-container">
        <div class="title">
            <strong>Dados do curso do estudante</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Ano letivo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Campus</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Faculdade</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Cursos</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Periodo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Ano</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <button type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/select.js" />